<div class="row">
    <div class="col-md-4 form-group">
            <input placeholder="Username" class="form-control" [(ngModel)] = "loginservice.currentuser.username">
        </div>
<div class="col-md-4 form-group">
    <input placeholder="password" class="form-control" [(ngModel)] = "loginservice.currentuser.password">
</div>
<div class="col-md-4 form-group">
        <input placeholder="firstName" class="form-control" [(ngModel)] = "loginservice.currentuser.firstName">
    </div>
    <div class="col-md-4 form-group">
            <input placeholder="lastName" class="form-control" [(ngModel)] = "loginservice.currentuser.lastName">
            
        </div>
        <div class="col-md-7 form-group">
               <!-- <input placeholder="role" class="form-control" [(ngModel)] = "loginservice.currentuser.role">-->
               <mat-form-field>
                    <mat-select placeholder="role" [(ngModel)]="loginservice.currentuser.role">
                      <mat-option [disabled] = !isAdmin() *ngFor="let role of roles" [value]="role.value">{{ role.viewValue }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  
            </div>
            <div class="col-md-4 form-group">
                    <input placeholder="email" class="form-control" [(ngModel)] = "loginservice.currentuser.email">
                </div>
            <div class="col-md-4 form-group">
                    <input placeholder="phone" class="form-control" [(ngModel)] = "loginservice.currentuser.phone  ">
                </div>
</div> 

<div class="row">
    <div class="col-md-3">
    <button class="btn btn-success btn-block btn-lg" (click)="updateUsers(loginservice.currentuser)">Save</button>
</div>
</div>

<div class="container">
    <table class="table table-hover">
<thead>
  <tr>
    <th>Username</th>
    <th>password</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Role</th>
    <th>Email</th>
    <th>Phone Number</th>
  </tr>
</thead>

<tbody>
  <!--<tr *ngFor="let user of userdetails">-->
      <tr>
    <td>{{userdetails.username}}</td>
    <td>{{userdetails.password}}</td>
    <td>{{userdetails.firstName}}</td>
    <td>{{userdetails.lastName}}</td>
    <td>{{userdetails.role}}</td>
    <td>{{userdetails.email}}</td>
    <td>{{userdetails.phone}}</td>
    <td><a class="btn" (click)="editusers(userdetails)"><i class="fa fa-edit" ></i></a></td>
  </tr>
  <tr *ngIf="!userdetails">
    <td colspan="7">No Users</td>
  </tr>
</tbody>
</table>
</div>
