
<div class="card-body">
        <div class="row">
            <div class="col-md-6">
                    <div class="row">
                            <div class="col-md6 form-group">
                                    <input placeholder="Flight" class="form-control" [(ngModel)] = "ancillaryService.currentancillary.flight">
                                </div>
                    </div>
                    <div class="row">
                                <div class="col-md6 form-group">
                                    <input placeholder="meals" class="form-control" [(ngModel)] = "ancillaryService.currentancillary.meals" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md6 form-group">
                                        <input placeholder="shopping items" class="form-control" [(ngModel)] = "ancillaryService.currentancillary.shoppingitems">
                                    </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-2">
                            <button class="btn btn-success btn-block btn-lg" (click)="createUpdateAncillary(ancillaryService.currentancillary)">Save</button>
                        </div>
                        <div class="col-md-2">
                                <button class="btn btn-primary btn-block btn-lg" (click)= "clear()" >Reset</button>
                            </div>
                        </div>
            </div>
            <div class="col-md-6">
                    <ancillary-listservices></ancillary-listservices>
            </div>
        </div>
    </div>
